Backend_n8n/workflows.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "=Overview\nYou are Bouba, the ultimate personal AI executive assistant and routing agent.\nYour role is to analyze the user's request {{ $json.body.message }} and route it to the correct agent available in the workflow.\nYou must never:\nwrite emails\ncreate summaries\nanalyze data\ngenerate reports\nYou only delegate the request to the correct agent and return its output.\nTools\nEmail Agent\nUse this tool to take action related to emails (send, draft, reply).\nCalendar Agent\nUse this tool to take action related to calendar events (create, update, delete).\nContact Agent\nUse this tool to get, update, or add contacts.\nFinance Agent\nUse this tool for any finance-related request, including:\nviewing revenues\nviewing expenses\nadding a revenue\nadding an expense\ngenerating a financial report\nquestions about profit, costs, margins, budget, or financial performance\nTavily\nUse this tool to search the web when external information is required.\n⚠️ Each tool may return text or data generated by its own workflow.\nYou must return the tool's output without modification.\nRouting Rules (CRITICAL)\nYou MUST first detect the intent of the user request and route accordingly:\n📧 Email-related requests\n→ Use Email Agent\n📅 Calendar-related requests\n→ Use Calendar Agent\n👤 Contact-related requests\n→ Use Contact Agent\n💰 Finance-related requests\nIf the request involves money, finance, reporting, revenues, expenses, profit, costs, budget, or financial analysis\n→ You MUST use Finance Agent\nContact Lookup Rule (STRICT)\nSome actions require contact information first.\nFor the following actions, you MUST:\nUse Contact Agent to retrieve contact information\nThen pass the enriched request to the appropriate agent\nApplies to:\nsending emails\ndrafting emails\ncreating calendar events with attendees\nExamples\nExample 1\nInput:\nsend an email to nate herkelman asking him what time he wants to leave\nAction:\nUse Contact Agent to get Nate Herkelman's email\nUse Email Agent to send the email\nOutput:\nThe email has been sent to Nate Herkelman. Anything else I can help you with?\nExample 2\nInput:\nfais un rapport financier du mois\nAction:\nUse Finance Agent\nOutput:\n[Return the Finance Agent output]\nExample 3\nInput:\najoute une dépense de 120€ pour un outil\nAction:\nUse Finance Agent\nOutput:\n[Return the Finance Agent confirmation]\nFinal Reminders\nYou are Bouba — a router, not an executor\nYou do not interpret results\nYou do not rewrite outputs\nYou only delegate and return results\nHere is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1792,
        32
      ],
      "id": "de99cacd-bb26-4d50-9bf2-fc3b6c4e81c4",
      "name": "Ultimate Assistant"
    },
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool for any email actions.",
        "workflowId": {
          "__rl": true,
          "value": "V53Zbm0BiM2o2KJ6",
          "mode": "list",
          "cachedResultUrl": "/workflow/V53Zbm0BiM2o2KJ6",
          "cachedResultName": "Email Agent 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1616,
        432
      ],
      "id": "750b4a12-f3f8-49cb-ab06-4bc8f8ab31d5",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "name": "contactAgent",
        "description": "Call this tool for any contact related actions.",
        "workflowId": {
          "__rl": true,
          "value": "4FJzc3QycgblrNf5",
          "mode": "list",
          "cachedResultUrl": "/workflow/4FJzc3QycgblrNf5",
          "cachedResultName": "Contact Agent 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1760,
        480
      ],
      "id": "9bd72d47-d136-4af3-a76a-d0b3a92ba5fe",
      "name": "Contact Agent"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2192,
        448
      ],
      "id": "2617823e-a858-4501-842e-4f322729e140",
      "name": "Tavily"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        2368,
        400
      ],
      "id": "5ddc8a90-0266-46b1-bba0-da11a1676901",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "FWVhXmo8NkKHVwcP",
          "mode": "list",
          "cachedResultUrl": "/workflow/FWVhXmo8NkKHVwcP",
          "cachedResultName": "Calendar Agent 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        2528,
        256
      ],
      "id": "fac6d3ef-ef4e-4b37-88cc-4b3f5081eb4c",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "82009feccc184-11b5-458c-ada3-7f3384219",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1264,
        32
      ],
      "id": "50a672aa-16a7-4303-a74e-a47731ae4a1e",
      "name": "Webhook",
      "webhookId": "7f338448-11b5-458c-ada3-f009feccc184"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KVL1jlMLhGHuAQ7N",
          "mode": "list",
          "cachedResultUrl": "/workflow/KVL1jlMLhGHuAQ7N",
          "cachedResultName": "Finance Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1904,
        480
      ],
      "id": "c87399cc-01a9-46ca-8d7e-a31036636534",
      "name": "Finance Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"type\": \"chat\", \"message\": $json.output }.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2608,
        -144
      ],
      "id": "1a8fcca2-33f4-498c-a351-1945deb4e0dd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "56bf1e46-ea58-4dc2-84a6-1eef1423a09d",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4304,
        144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eca0a390-b73e-4125-82a1-7e25b00a89fe",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4304,
        -64
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "54ba984264c6f7ca956327a806e9dd7bede1db373bde415ed9b209e203dda3c9@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Zeyneb"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $fromAI(\"eventAttendeeEmail\") }}"
          ],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        4096,
        304
      ],
      "id": "583c5016-36f2-4a2b-9361-09e7ef4771c0",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fmh34ZhKH2gftvqF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "54ba984264c6f7ca956327a806e9dd7bede1db373bde415ed9b209e203dda3c9@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Zeyneb"
        },
        "start": "={{ $fromAI(\"eventStart\") }}",
        "end": "={{ $fromAI(\"eventEnd\") }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3952,
        400
      ],
      "id": "31a72bad-7b73-482f-95f9-0c4630cca572",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fmh34ZhKH2gftvqF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "54ba984264c6f7ca956327a806e9dd7bede1db373bde415ed9b209e203dda3c9@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Zeyneb"
        },
        "timeMin": "={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}",
        "timeMax": "={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3808,
        432
      ],
      "id": "aa4d2bd8-d98a-47b8-9469-c2ecf2ab8a61",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fmh34ZhKH2gftvqF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "54ba984264c6f7ca956327a806e9dd7bede1db373bde415ed9b209e203dda3c9@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Zeyneb"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3664,
        416
      ],
      "id": "7645c6d2-a96d-4c75-b932-9b9e5ea7b149",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fmh34ZhKH2gftvqF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "54ba984264c6f7ca956327a806e9dd7bede1db373bde415ed9b209e203dda3c9@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Zeyneb"
        },
        "eventId": "={{ $fromAI(\"eventID\") }}",
        "updateFields": {
          "end": "={{ $fromAI(\"endTime\") }}",
          "start": "={{ $fromAI(\"startTime\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        3520,
        384
      ],
      "id": "35c08a17-c439-4735-9e0a-fd18cdbbb5c7",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "fmh34ZhKH2gftvqF",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3056,
        176
      ],
      "id": "e2bbee70-b410-4f89-9330-87d0e0f1adc9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jbxinyegvwxiupgvursw.supabase.co/functions/v1/webhook-calendar",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "naiom"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"response\": $json[\"response\"] }) }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4576,
        -64
      ],
      "id": "91c36b16-e393-4d2c-9369-9b273a502a67",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Overview\nYou are Bouba's calendar assistant. Your responsibilities include creating, getting, updating, and deleting events in the user's calendar.\n\n**Calendar Management Tools**\n   - Use \"Create Event with Attendee\" when an event includes a participant.\n   - Use \"Create Event\" for solo events.\n   - Use \"Get Events\" to fetch calendar schedules when requested.\n   - Use \"Delete Event\" to delete an event. You must use \"Get Events\" first to get the ID of the event to delete.\n   - Use \"Update Event\" to update an event. You must use \"Get Events\" first to get the ID of the event to update.\n\n## Final Notes\nHere is the current date/time: {{ $now }}\nIf a duration for an event isn't specified, assume it will be one hour."
        }
      },
      "id": "7d23bfc7-97e1-4bd3-a9eb-f847d147b2eb",
      "name": "Calendar Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        3616,
        32
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appUgfSiGIPdCo3a7",
          "mode": "list",
          "cachedResultName": "Base de Données Clients",
          "cachedResultUrl": "https://airtable.com/appUgfSiGIPdCo3a7"
        },
        "table": {
          "__rl": true,
          "value": "tblIbQegC18u6FI7i",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appUgfSiGIPdCo3a7/tblIbQegC18u6FI7i"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        3760,
        1296
      ],
      "id": "0d7075bb-cc57-4691-a839-7d5dcf758b64",
      "name": "Get Contacts",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gif6xnKQGS7WM3UK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appUgfSiGIPdCo3a7",
          "mode": "list",
          "cachedResultName": "Base de Données Clients",
          "cachedResultUrl": "https://airtable.com/appUgfSiGIPdCo3a7"
        },
        "table": {
          "__rl": true,
          "value": "tblIbQegC18u6FI7i",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appUgfSiGIPdCo3a7/tblIbQegC18u6FI7i"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $fromAI(\"name\") }}",
            "phoneNumber": "={{ $fromAI(\"phoneNumber\") }}",
            "emailAddress": "={{ $fromAI(\"emailAddress\") }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Photo du Client",
              "displayName": "Photo du Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Historique des Interactions",
              "displayName": "Historique des Interactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Propriétés d'Intérêt",
              "displayName": "Propriétés d'Intérêt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transactions",
              "displayName": "Transactions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Responsable",
              "displayName": "Agent Responsable",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "phoneNumber",
              "displayName": "phoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        3904,
        1280
      ],
      "id": "5bbac6a7-a028-4c8f-a564-f923b3754200",
      "name": "Add or Update Contact",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gif6xnKQGS7WM3UK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4048,
        960
      ],
      "id": "4ce1bfff-4713-4237-8c8a-aed54d8b5eeb",
      "name": "Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4048,
        1168
      ],
      "id": "e94e17e9-38a8-4a80-a63b-6bfdc543a724",
      "name": "Try Again1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are Bouba's Contact Management AI Agent.\nYour role is to intelligently manage contacts for the business.\nYou can retrieve existing contacts, create new ones, or update existing records.\nYou have access to the following tools:\n- \"Get Contacts\": search and retrieve existing contact records.\n- \"Add or Update Contact\": create a new contact or update an existing one (upsert).\n────────────────────────\nCORE OBJECTIVES\n────────────────────────\n1. Identify whether the contact already exists.\n2. Avoid creating duplicates.\n3. Always keep contact data clean, structured, and up to date.\n4. Take action autonomously using the available tools.\n────────────────────────\nWORKFLOW LOGIC (MANDATORY)\n────────────────────────\nStep 1 — Analyze the input  \n- Extract all relevant contact information:\n  - First name\n  - Last name\n  - Email\n  - Phone number\n  - Company\n  - Any additional useful metadata\nStep 2 — Search for existing contact  \n- Use \"Get Contacts\" to look for an existing contact.\n- Prioritize matching by:\n  1. Email (primary identifier)\n  2. Phone number\n  3. Full name + company (if needed)\nStep 3 — Decide the action  \n- If a matching contact exists:\n  - Update the contact using \"Add or Update Contact\"\n  - Only enrich or correct missing / outdated fields\n- If no contact exists:\n  - Create a new contact using \"Add or Update Contact\"\n────────────────────────\nRULES & CONSTRAINTS\n────────────────────────\n- Never create duplicate contacts.\n- Never guess or invent data.\n- If required information is missing or ambiguous, return a clear message explaining what is missing.\n- Always prefer updating an existing contact over creating a new one.\n- Keep values normalized (clean names, valid email format, no emojis).\n────────────────────────\nOUTPUT EXPECTATION\n────────────────────────\nAfter completing the action:\n- Return a short confirmation message explaining:\n  - Whether the contact was found or created\n  - What action was performed (created / updated)\n  - Key fields affected\nIf an error occurs:\n- Clearly explain why the action failed\n- Suggest what information is required to proceed"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3632,
        1056
      ],
      "id": "d626f120-3ada-4eaa-a63b-3f134202b8b7",
      "name": "Contact Agent1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jbxinyegvwxiupgvursw.supabase.co/functions/v1/webhook-contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "naiom"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"response\": $json.response } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4352,
        960
      ],
      "id": "edd1bf9c-401a-4c49-9da9-0e3e5b229e26",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false,
          "senderName": "NAIOM"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        6032,
        480
      ],
      "id": "d0ef315d-6efa-4ee8-a866-588562e63514",
      "name": "Send Email",
      "webhookId": "e65fcd36-922a-4a32-b047-b47812ec508f",
      "credentials": {
        "gmailOAuth2": {
          "id": "9pFxswoP1mj4DJpS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\",\"how many emails the user wants\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ $fromAI(\"sender\",\"who the emails are from\") }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        6672,
        576
      ],
      "id": "79787aca-3dbc-4cf6-849a-b08f2b414e6b",
      "name": "Get Emails",
      "webhookId": "432348ae-e3ee-4794-83e9-4aa0459663b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "9pFxswoP1mj4DJpS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "html",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "sendTo": "={{ $fromAI(\"emailAddress\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        6512,
        592
      ],
      "id": "c263f357-9b7c-4f25-a114-080f7979444f",
      "name": "Create Draft",
      "webhookId": "a792e875-70a9-4417-afe4-99aa751d373f",
      "credentials": {
        "gmailOAuth2": {
          "id": "9pFxswoP1mj4DJpS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $fromAI(\"ID\",\"the message ID\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        6192,
        544
      ],
      "id": "d0cecc79-c69e-42e3-9dc2-5b9ffa72ca89",
      "name": "Email Reply",
      "webhookId": "a092e061-705b-459b-bae0-018052ea3e2a",
      "credentials": {
        "gmailOAuth2": {
          "id": "9pFxswoP1mj4DJpS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        6800,
        512
      ],
      "id": "e5160fda-0f85-4831-bca2-0852235cc3dd",
      "name": "Get Labels",
      "webhookId": "e947f463-3f1a-4654-80b6-54ed2dc1e555",
      "credentials": {
        "gmailOAuth2": {
          "id": "9pFxswoP1mj4DJpS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"ID\",\"the ID of the message\") }}",
        "labelIds": "={{ $fromAI(\"labelID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        6352,
        576
      ],
      "id": "d117399b-5b50-4fbd-b0c9-eeced7ba1a13",
      "name": "Label Emails",
      "webhookId": "3d55e37f-3989-4c2b-acb6-d4ac3c33623c",
      "credentials": {
        "gmailOAuth2": {
          "id": "9pFxswoP1mj4DJpS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $fromAI(\"messageID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        6928,
        464
      ],
      "id": "c8263a76-308e-4f2f-acd4-4b37e806419a",
      "name": "Mark Unread",
      "webhookId": "b2b6a521-6668-4cfa-9b50-5d47f6aeea8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "9pFxswoP1mj4DJpS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search for infos",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "id": "21b625b1-8e6b-4b1a-a33b-aeb8c7f03e58",
      "name": "Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        7120,
        496
      ]
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        7488,
        512
      ],
      "id": "00f1a34a-ffe2-4395-ba8e-24623022eab6",
      "name": "Upload your file here",
      "webhookId": "82ca24c5-9e9e-4373-8266-df55f1b6bd43"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        7792,
        784
      ],
      "id": "c30175db-0b61-409b-ac93-ea6f4800cb5e",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        7680,
        512
      ],
      "id": "b637c09d-74d5-484b-84bc-b72bef63d6bf",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jbxinyegvwxiupgvursw.supabase.co/functions/v1/webhook-emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "naiom"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"body\": $json.response, \"to\": \"destinataire@email.com\", \"subject\": \"Message de Sophia\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        7280,
        32
      ],
      "id": "bde7907e-d99f-4aee-8c52-277169a33f9a",
      "name": "Update Lovable"
    },
    {
      "parameters": {
        "content": "## AGENT IA EMAIL RAG\n",
        "height": 1136,
        "width": 2672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5632,
        -112
      ],
      "typeVersion": 1,
      "id": "b0cbd28c-3d4a-4110-bcab-991e111d1924",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7c1c144c-110f-44be-89eb-dffdf4628972",
      "name": "Try Again2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7040,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "37bcb847-e56b-475c-b642-18b1b9562cdc",
      "name": "Success1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7040,
        32
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Overview\nYou are Bouba's email management assistant.\nAll emails must be written in French, formatted professionally in HTML, and must strictly use the HTML template provided below.\nVector Store Retrieval (MANDATORY STEP)\nBefore constructing any email response, you MUST perform the following steps in order:\nQuery the Vector Store using the user request: {{ $json.query }}\nRetrieve the most relevant documents / chunks from the Vector Store database.\nAnalyze and synthesize the retrieved information.\nBase the entire email content exclusively on the retrieved Vector Store data.\nIf multiple documents are returned, prioritize:\nrelevance to the request\naccuracy\nmost recent or most complete information\n⚠️ You are NOT allowed to invent, assume, or hallucinate information.\n⚠️ If the Vector Store does not return relevant data, you must:\nclearly state the limitation in a professional way in the email\nask for clarification or additional information from the recipient\nOnly AFTER this retrieval and analysis step are you allowed to construct the email.\nYou must never output plain text.\nYou must only replace the variables {{titre}} and {{contenu_html}} generated by the agent.\nEmail Management Tools\nUse \"Send Email\" to send emails.\nUse \"Create Draft\" if the user asks for a draft.\nUse \"Get Emails\" to retrieve emails when requested.\nUse \"Get Labels\" to retrieve labels.\nUse \"Mark Unread\" to mark an email as unread. You must use \"Get Emails\" first so you have the message ID of the email to flag.\nUse \"Label Email\" to flag an email. You must use \"Get Emails\" first so you have the message ID of the email to flag. Then you must use \"Get Labels\" so you have the label ID.\nUse \"Email Reply\" to reply to an email. You must use \"Get Emails\" first so you have the message ID of the email to reply to.\nHTML TEMPLATE (MANDATORY – DO NOT MODIFY STRUCTURE)\nYou must always use this exact template.\nReplace {{titre}} and {{contenu_html}} only.\n<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; background:#0f0d1a; padding:24px; border-radius:16px;\"> <div style=\"max-width:720px; margin:0 auto; background:#1a1730; border:1px solid #2d2a4a; border-radius:16px; overflow:hidden;\">\n<div style=\"padding:22px 22px 16px; border-bottom:1px solid #2d2a4a;\">\n  <div style=\"color:#e7eefc; font-size:14px; font-weight:700;\">BOUBA • Assistant Exécutif IA</div>\n  <div style=\"color:#a78bfa; font-size:12px;\">Réponse automatisée</div>\n</div>\n<div style=\"padding:22px; color:#e7eefc; font-size:15px; line-height:1.6;\">\n  <h3 style=\"margin-top:0; color:#e7eefc;\">{{titre}}</h3>\n  {{contenu_html}}\n  <p style=\"margin-top:20px;\">\n    — <strong>Bouba, ton assistant IA</strong>\n  </p>\n</div>\n<div style=\"padding:16px 22px; border-top:1px solid #2d2a4a; background:#0f0d1a; font-size:12px; color:#a78bfa;\">\n  Bouba gère tes emails, agenda, contacts et finances grâce à l'IA.<br>\n  Ce message est généré automatiquement via un workflow sécurisé.\n</div>\n</div> </div>\nContent Rules (STRICT)\nLanguage: French only\nProfessional business tone\nAllowed HTML tags: <p>, <br>, <ul>, <li>, <strong>\nNo additional variables\nNo raw text\nNo explanation\nFinal Notes\nHere is the current date/time: {{ $now }}"
        }
      },
      "id": "b6f8baee-c1c1-4256-adb5-e998acbd29b2",
      "name": "Email Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        6352,
        112
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieves financial records from the database",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appbPZA132gTrGjty",
          "mode": "list",
          "cachedResultName": "Gestion Finances Personnelles",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty"
        },
        "table": {
          "__rl": true,
          "value": "tblG3A1btJqIeofQC",
          "mode": "list",
          "cachedResultName": "Revenus",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty/tblG3A1btJqIeofQC"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1520,
        1456
      ],
      "id": "350dc1bc-9895-4801-a971-1645c4cb7624",
      "name": "Revenus",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gif6xnKQGS7WM3UK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieves financial records from the database",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appbPZA132gTrGjty",
          "mode": "list",
          "cachedResultName": "Gestion Finances Personnelles",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty"
        },
        "table": {
          "__rl": true,
          "value": "tblinm2MCclT0BKPL",
          "mode": "list",
          "cachedResultName": "Dépenses",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty/tblinm2MCclT0BKPL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1648,
        1456
      ],
      "id": "5a9aaf12-d31d-45ce-95b0-2d0d816329f6",
      "name": "Dépenses",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gif6xnKQGS7WM3UK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieves financial records from the database",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appbPZA132gTrGjty",
          "mode": "list",
          "cachedResultName": "Gestion Finances Personnelles",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty"
        },
        "table": {
          "__rl": true,
          "value": "tblQ5c8XAwokoL4kr",
          "mode": "list",
          "cachedResultName": "Rapports",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty/tblQ5c8XAwokoL4kr"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1776,
        1456
      ],
      "id": "68c192dd-7f91-4c61-a85e-3d7286465af7",
      "name": "Rapport",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gif6xnKQGS7WM3UK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieves financial records from the database",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appbPZA132gTrGjty",
          "mode": "list",
          "cachedResultName": "Gestion Finances Personnelles",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty"
        },
        "table": {
          "__rl": true,
          "value": "tblG3A1btJqIeofQC",
          "mode": "list",
          "cachedResultName": "Revenus",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty/tblG3A1btJqIeofQC"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Montant": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Montant', ``, 'number') }}",
            "Source": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Source', ``, 'string') }}",
            "Date de revenu": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_de_revenu', ``, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Montant",
              "displayName": "Montant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date de revenu",
              "displayName": "Date de revenu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Catégorie de revenu",
              "displayName": "Catégorie de revenu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Justificatif",
              "displayName": "Justificatif",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mois de revenu",
              "displayName": "Mois de revenu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Année de revenu",
              "displayName": "Année de revenu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nom de la catégorie",
              "displayName": "Nom de la catégorie",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Type de catégorie",
              "displayName": "Type de catégorie",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Résumé automatique du justificatif",
              "displayName": "Résumé automatique du justificatif",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Catégorisation automatique de la source",
              "displayName": "Catégorisation automatique de la source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rapports",
              "displayName": "Rapports",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1888,
        1456
      ],
      "id": "1845839a-5896-422a-8d58-42db147f828d",
      "name": "Ajout Revenus",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gif6xnKQGS7WM3UK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieves financial records from the database",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appbPZA132gTrGjty",
          "mode": "list",
          "cachedResultName": "Gestion Finances Personnelles",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty"
        },
        "table": {
          "__rl": true,
          "value": "tblinm2MCclT0BKPL",
          "mode": "list",
          "cachedResultName": "Dépenses",
          "cachedResultUrl": "https://airtable.com/appbPZA132gTrGjty/tblinm2MCclT0BKPL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Montant": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Montant', ``, 'number') }}",
            "Date de dépense": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_de_d_pense', ``, 'string') }}",
            "Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Montant",
              "displayName": "Montant",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date de dépense",
              "displayName": "Date de dépense",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Catégorie",
              "displayName": "Catégorie",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Photo du reçu",
              "displayName": "Photo du reçu",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rapport associé",
              "displayName": "Rapport associé",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mois de dépense",
              "displayName": "Mois de dépense",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Année de dépense",
              "displayName": "Année de dépense",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Nom de la catégorie (lookup)",
              "displayName": "Nom de la catégorie (lookup)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Type de catégorie (lookup)",
              "displayName": "Type de catégorie (lookup)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Résumé intelligent de la dépense",
              "displayName": "Résumé intelligent de la dépense",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Catégorisation intelligente (AI)",
              "displayName": "Catégorisation intelligente (AI)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        2016,
        1456
      ],
      "id": "3d1b1051-1649-4217-8853-f62a2f14341d",
      "name": "Ajout Dépenses",
      "credentials": {
        "airtableTokenApi": {
          "id": "Gif6xnKQGS7WM3UK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        1088
      ],
      "id": "5ec99b44-6da1-493c-b140-20ea9ac43113",
      "name": "Response1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f360190-a717-4a93-8336-d03ea65975d5",
              "name": "response",
              "value": "An error occurred. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        1280
      ],
      "id": "50dcaae7-be77-4a89-88e4-19375833bc70",
      "name": "Try Again3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jbxinyegvwxiupgvursw.supabase.co/functions/v1/webhook-finance",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "naiom"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.response.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2448,
        1088
      ],
      "id": "bc21ad44-62b0-4460-ad94-87e72e69cc22",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Overview\nYou are Bouba's Finance Assistant connected to structured financial databases.\nYour role is to read, analyze, report, and update financial data using the available tools.\nYou act as an operational finance layer: consultation, reporting, and data entry.\nYou never invent numbers.\nYou never guess missing values.\nYou only use data retrieved from tools or explicitly provided by the user.\nAvailable Tools (MANDATORY USAGE)\nYou have access to the following tools and MUST select them based on user intent:\n📥 Revenus\nget record → retrieve existing revenue data\n📤 Dépenses\nget record → retrieve existing expense data\n📊 Rapport\nget record → retrieve existing financial reports or consolidated views\n➕ Ajout Revenus\nupsert record → add or update a revenue entry\n➖ Ajout Dépenses\nupsert record → add or update an expense entry\nIntent Detection Rules (CRITICAL)\nYou MUST first identify the user's intent before acting.\n1️⃣ Consultation / Analyse\nIf the user asks to:\nsee revenues\nsee expenses\nunderstand financial performance\nanalyze profitability or costs\n→ Use Revenus (get record) and/or Dépenses (get record)\n→ Explain the data clearly.\n2️⃣ Rapport financier\nIf the user asks for:\na financial report\na summary\nan overview\nprofitability analysis\n→ You MUST:\nRetrieve Revenus\nRetrieve Dépenses\nOptionally retrieve Rapport\nCompare and structure the response as a report\n3️⃣ Ajout d'un revenu ou d'une dépense (VERY IMPORTANT)\nIf the user explicitly asks to add / record / log a revenue or an expense\n(examples:\n\"ajoute une dépense\",\n\"j'ai payé 120€ d'outil\",\n\"ajoute un revenu de 3 000€\"):\nYou MUST follow this sequence:\nDetermine if it is:\na revenue → use Ajout Revenus\nan expense → use Ajout Dépenses\nVerify required fields are present:\nAmount\nDescription or category\nDate\nUse today ONLY if explicitly stated or clearly implied\nIf any required information is missing:\nAsk a clarification question\nDO NOT create the record yet\nOnce data is sufficient:\nUse the appropriate upsert record tool\nConfirm clearly that the entry has been added\n⚠️ Never infer amounts, dates, or categories.\nFinancial Report Structure (WHEN REQUIRED)\nWhen producing a report, always follow this structure:\nRésumé global\nRevenus totaux\nDépenses totales\nRésultat net (profit / perte)\nAnalyse des revenus\nPrincipales sources\nRépartition\nTendances visibles (if data allows)\nAnalyse des dépenses\nPostes majeurs\nFixes vs variables\nDépenses remarquables\nIndicateurs clés\nMarge\nRatio dépenses / revenus\nPoints de vigilance\nRecommandations\nActions concrètes\nOptimisations possibles\nPriorités financières\nStyle & Output Rules\nLanguage: French only\nProfessional, clear, structured\nNo emojis\nNo fluff\nNo speculation\nDecisions and explanations must be data-driven\nFinal Instruction\nYou are Bouba's Finance Operations Agent.\nYour value is:\naccuracy\nstructure\nactionable financial clarity\nYou support decision-making, tracking, and clean financial operations, including adding revenues and expenses when requested."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1488,
        1200
      ],
      "id": "7601eeac-b244-41e6-8109-868d9e8a8cd8",
      "name": "Finance Agent1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1504,
        240
      ],
      "id": "17d4c609-cb5e-4c7f-83a0-cf1ae21ca265",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "v9sa6Y8CAuSAqtBR",
          "name": "DeepSeek 27-02-2026"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        3328,
        368
      ],
      "id": "3bf54b55-a3a5-43b3-8a46-180e29245716",
      "name": "DeepSeek Chat Model1",
      "credentials": {
        "deepSeekApi": {
          "id": "v9sa6Y8CAuSAqtBR",
          "name": "DeepSeek 27-02-2026"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        3552,
        1376
      ],
      "id": "c97c7011-1d83-4911-b25b-4e49812f65c1",
      "name": "DeepSeek Chat Model2",
      "credentials": {
        "deepSeekApi": {
          "id": "v9sa6Y8CAuSAqtBR",
          "name": "DeepSeek 27-02-2026"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1344,
        1472
      ],
      "id": "b2aac868-c92a-4adc-8a95-e701def4a46c",
      "name": "DeepSeek Chat Model3",
      "credentials": {
        "deepSeekApi": {
          "id": "v9sa6Y8CAuSAqtBR",
          "name": "DeepSeek 27-02-2026"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        5776,
        352
      ],
      "id": "3ce8156e-2e90-4ed9-9917-1371105fbd4a",
      "name": "DeepSeek Chat Model4",
      "credentials": {
        "deepSeekApi": {
          "id": "v9sa6Y8CAuSAqtBR",
          "name": "DeepSeek 27-02-2026"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        7488,
        816
      ],
      "id": "bfa15a89-1e0a-4701-b65d-dc9f0624f383",
      "name": "Embeddings Cohere"
    }
  ],
  "connections": {
    "Ultimate Assistant": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calendar Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent1": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contacts": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add or Update Contact": {
      "ai_tool": [
        [
          {
            "node": "Contact Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent1": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unread": {
      "ai_tool": [
        [
          {
            "node": "Email Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Email Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Success1": {
      "main": [
        [
          {
            "node": "Update Lovable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent1": {
      "main": [
        [
          {
            "node": "Success1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revenus": {
      "ai_tool": [
        [
          {
            "node": "Finance Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Dépenses": {
      "ai_tool": [
        [
          {
            "node": "Finance Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Rapport": {
      "ai_tool": [
        [
          {
            "node": "Finance Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ajout Revenus": {
      "ai_tool": [
        [
          {
            "node": "Finance Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ajout Dépenses": {
      "ai_tool": [
        [
          {
            "node": "Finance Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Response1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Agent1": {
      "main": [
        [
          {
            "node": "Response1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Contact Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Finance Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Webhook": [
      {
        "headers": {
          "host": "n8n.realtechprint.com",
          "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.3 Safari/605.1.15",
          "content-length": "171",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "fr-FR,fr;q=0.9",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "94.203.31.222",
          "cf-ew-via": "15",
          "cf-ipcountry": "AE",
          "cf-ray": "9bd6c0eec5caea3f-FCO",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "origin": "http://localhost:3000",
          "priority": "u=3, i",
          "referer": "http://localhost:3000/",
          "sec-fetch-dest": "empty",
          "sec-fetch-mode": "cors",
          "sec-fetch-site": "cross-site",
          "x-forwarded-for": "94.203.31.222, 162.158.116.40",
          "x-forwarded-host": "n8n.realtechprint.com",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-9-7bb7d4c57c-kbbb2",
          "x-is-trusted": "yes",
          "x-real-ip": "94.203.31.222"
        },
        "params": {},
        "query": {},
        "body": {
          "message": "ajoute ce contact a m base de données : Seydou DIANKA \ndiankaseydou52@gmail.com\n781311371",
          "timestamp": "2026-01-13T17:53:31.205Z",
          "source": "sophia-interface"
        },
        "webhookUrl": "https://n8n.realtechprint.com/workflow/xDZmzfmlPeKqeCnU/a615dd?projectId=lLwex3Lbd5ZBjMFQ",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3070358c42e2c06619b8064f18d81c16bd7c166918045ec87087f74bf65a83ec"
  }
}