IA_Sohpia/Agent IA ORCHESTRATEUR.json
{
  "name": "Agent IA ORCHESTRATEUR",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message || $('Webhook').item.json.body.message }}",
        "options": {
          "systemMessage": "=Overview\nYou are the ultimate personal assistant and routing agent.\nYour role is to analyze the user’s request {{ $json.body.message }} and route it to the correct agent available in the workflow.\n\nYou must never:\nwrite emails\ncreate summaries\nanalyze data\ngenerate reports\nYou only delegate the request to the correct agent and return its output.\n\nTools\nEmail Agent\nUse this tool to take action related to emails (send, draft, reply).\n\nCalendar Agent\nUse this tool to take action related to calendar events (create, update, delete).\n\nContact Agent\nUse this tool to get, update, or add contacts.\n\nFinance Agent\nUse this tool for any finance-related request, including:\nviewing revenues\nviewing expenses\nadding a revenue\nadding an expense\ngenerating a financial report\nquestions about profit, costs, margins, budget, or financial performance\n\nTavily\nUse this tool to search the web when external information is required.\n\n⚠️ Each tool may return text or data generated by its own workflow.\nYou must return the tool’s output without modification.\n\nRouting Rules (CRITICAL)\n\nYou MUST first detect the intent of the user request and route accordingly:\n\n📧 Email-related requests\n→ Use Email Agent\n\n📅 Calendar-related requests\n→ Use Calendar Agent\n\n👤 Contact-related requests\n→ Use Contact Agent\n\n💰 Finance-related requests\nIf the request involves money, finance, reporting, revenues, expenses, profit, costs, budget, or financial analysis\n→ You MUST use Finance Agent\n\nContact Lookup Rule (STRICT)\nSome actions require contact information first.\nFor the following actions, you MUST:\nUse Contact Agent to retrieve contact information\nThen pass the enriched request to the appropriate agent\n\nApplies to:\nsending emails\ndrafting emails\ncreating calendar events with attendees\n\nExamples\n\nExample 1\nInput:\nsend an email to nate herkelman asking him what time he wants to leave\nAction:\nUse Contact Agent to get Nate Herkelman’s email\nUse Email Agent to send the email\nOutput:\nThe email has been sent to Nate Herkelman. Anything else I can help you with?\n\nExample 2\nInput:\nfais un rapport financier du mois\nAction:\nUse Finance Agent\nOutput:\n[Return the Finance Agent output]\n\nExample 3\nInput:\najoute une dépense de 120€ pour un outil\nAction:\n\nUse Finance Agent\nOutput:\n[Return the Finance Agent confirmation]\n\n\nFinal Reminders\nYou are a router, not an executor\nYou do not interpret results\nYou do not rewrite outputs\nYou only delegate and return results\n\nHere is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        864,
        112
      ],
      "id": "5fc84256-1e1c-49b8-ac80-6072e25f8f6e",
      "name": "Ultimate Assistant"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        320
      ],
      "id": "f30166d7-019f-4f25-a94b-55a3c09c6586",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IpLYtUzjgqJ6XBwn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool for any email actions.",
        "workflowId": {
          "__rl": true,
          "value": "V53Zbm0BiM2o2KJ6",
          "mode": "list",
          "cachedResultUrl": "/workflow/V53Zbm0BiM2o2KJ6",
          "cachedResultName": "Email Agent 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        752,
        320
      ],
      "id": "f54ab337-d738-4397-adaa-bbf6cc2aaa44",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "name": "contactAgent",
        "description": "Call this tool for any contact related actions.",
        "workflowId": {
          "__rl": true,
          "value": "4FJzc3QycgblrNf5",
          "mode": "list",
          "cachedResultUrl": "/workflow/4FJzc3QycgblrNf5",
          "cachedResultName": "Contact Agent 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        880,
        320
      ],
      "id": "b90f281c-9e1f-4c78-8234-b4c827bb2a31",
      "name": "Contact Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        160,
        512
      ],
      "id": "8ca9bc64-9288-498f-93d5-21466023d61a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user has requested to search the internet for",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1136,
        320
      ],
      "id": "3179996f-298b-4246-aa5f-555f9624bbb3",
      "name": "Tavily"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1248,
        320
      ],
      "id": "0bcae1ef-6ba3-498d-abe1-59ba8ab3f98e",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "FWVhXmo8NkKHVwcP",
          "mode": "list",
          "cachedResultUrl": "/workflow/FWVhXmo8NkKHVwcP",
          "cachedResultName": "Calendar Agent 2.0"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1360,
        320
      ],
      "id": "411b580d-023a-4372-aaa0-ca34f2b4d96f",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7f338448-11b5-458c-ada3-f009feccc184",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        336,
        112
      ],
      "id": "afcd723a-7145-43c0-b994-59405df9cccc",
      "name": "Webhook",
      "webhookId": "7f338448-11b5-458c-ada3-f009feccc184"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "admin-norm-conv",
              "name": "body.conversation_id",
              "value": "={{ $json.body.conversation_id || $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "admin-norm-session",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId || $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "admin-norm-source",
              "name": "body.isAdminContext",
              "value": "={{ !$json.body.conversation_id || $json.body.source === 'admin' }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        112
      ],
      "id": "admin-normalize-node-001",
      "name": "Normalize Admin Input"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KVL1jlMLhGHuAQ7N",
          "mode": "list",
          "cachedResultUrl": "/workflow/KVL1jlMLhGHuAQ7N",
          "cachedResultName": "Finance Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1024,
        320
      ],
      "id": "85192bf4-c9ce-4575-9943-69e281e1bd9d",
      "name": "Finance Agent"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"type\": \"chat\", \"message\": $json.output }.toJsonString() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1568,
        112
      ],
      "id": "3ba2b897-5a3d-4422-9048-5230b1bc00d9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "naiom.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/18.3 Safari/605.1.15",
            "content-length": "171",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "fr-FR,fr;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "94.203.31.222",
            "cf-ew-via": "15",
            "cf-ipcountry": "AE",
            "cf-ray": "9bd6c0eec5caea3f-FCO",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://93a7f505-5a9f-4edc-b3b7-9a72ba31d1b3.lovableproject.com",
            "priority": "u=3, i",
            "referer": "https://93a7f505-5a9f-4edc-b3b7-9a72ba31d1b3.lovableproject.com/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "94.203.31.222, 162.158.116.40",
            "x-forwarded-host": "naiom.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-9-7bb7d4c57c-kbbb2",
            "x-is-trusted": "yes",
            "x-real-ip": "94.203.31.222"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "ajoute ce contact a m base de données : Hajar Madi \nZeyneb.madi26@icloud.com\n0678787878",
            "timestamp": "2026-01-13T17:53:31.205Z",
            "source": "sophia-interface"
          },
          "webhookUrl": "https://naiom.app.n8n.cloud/webhook/7f338448-11b5-458c-ada3-f009feccc184",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        []
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ultimate Assistant": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Admin Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Admin Input": {
      "main": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance Agent": {
      "ai_tool": [
        [
          {
            "node": "Ultimate Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "74818969-9e7b-4671-96d6-9da1bec967e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4bb8a0128764037e6be8d35659320cc5a4c40b23554514bbdd7147b718521d11"
  },
  "id": "o6m2sMCjj6OMGbE1",
  "tags": []
}