IA_Sohpia/Email Agent 2.0-2.json
{
  "name": "Email Agent 2.0",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ab380a2-a8d3-421c-ab4e-748ea8fb7904",
              "name": "response",
              "value": "Unable to perform task. Please try again.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f49414e2-c0da-4b1e-8e70-f6e97d8beaf2",
      "name": "Try Again",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "39c2f302-03be-4464-a17a-d7cc481d6d44",
              "name": "=response",
              "value": "={{$json.output}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "992d97b8-6139-422b-a1e3-2bf1dbb7082c",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1216,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=Overview\n\nYou are an email management assistant.\nAll emails must be written in French, formatted professionally in HTML, and must strictly use the HTML template provided below.\n\nVector Store Retrieval (MANDATORY STEP)\nBefore constructing any email response, you MUST perform the following steps in order:\nQuery the Vector Store using the user request: {{ $json.query }}\nRetrieve the most relevant documents / chunks from the Vector Store database.\nAnalyze and synthesize the retrieved information.\nBase the entire email content exclusively on the retrieved Vector Store data.\nIf multiple documents are returned, prioritize:\nrelevance to the request\naccuracy\nmost recent or most complete information\n⚠️ You are NOT allowed to invent, assume, or hallucinate information.\n⚠️ If the Vector Store does not return relevant data, you must:\nclearly state the limitation in a professional way in the email\nask for clarification or additional information from the recipient\nOnly AFTER this retrieval and analysis step are you allowed to construct the email.\n\n\nYou must never output plain text.\nYou must only replace the variables {{titre}} and {{contenu_html}} generated by the agent.\n\nEmail Management Tools\nUse \"Send Email\" to send emails.\nUse \"Create Draft\" if the user asks for a draft.\nUse \"Get Emails\" to retrieve emails when requested.\nUse \"Get Labels\" to retrieve labels.\nUse \"Mark Unread\" to mark an email as unread. You must use \"Get Emails\" first so you have the message ID of the email to flag.\nUse \"Label Email\" to flag an email. You must use \"Get Emails\" first so you have the message ID of the email to flag. Then you must use \"Get Labels\" so you have the label ID.\nUse \"Email Reply\" to reply to an email. You must use \"Get Emails\" first so you have the message ID of the email to reply to.\n\nHTML TEMPLATE (MANDATORY – DO NOT MODIFY STRUCTURE)\nYou must always use this exact template.\nReplace {{titre}} and {{contenu_html}} only.\n<div style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; background:#0b0f17; padding:24px; border-radius:16px;\"> <div style=\"max-width:720px; margin:0 auto; background:#0f1624; border:1px solid #1f2a3a; border-radius:16px; overflow:hidden;\">\n<div style=\"padding:22px 22px 16px; border-bottom:1px solid #1f2a3a;\">\n  <div style=\"color:#e7eefc; font-size:14px; font-weight:700;\">NAIOM • AI & Automation</div>\n  <div style=\"color:#9fb2d0; font-size:12px;\">Réponse automatisée</div>\n</div>\n\n<div style=\"padding:22px; color:#e7eefc; font-size:15px; line-height:1.6;\">\n  <h3 style=\"margin-top:0; color:#e7eefc;\">{{titre}}</h3>\n\n  {{contenu_html}}\n\n  <p style=\"margin-top:20px;\">\n    — <strong>Team Naiom</strong>\n  </p>\n</div>\n\n<div style=\"padding:16px 22px; border-top:1px solid #1f2a3a; background:#0b0f17; font-size:12px; color:#6f86a8;\">\n  Naiom conçoit des automatisations et agents IA pour les entreprises.<br>\n  Ce message est généré automatiquement via un workflow sécurisé.\n</div>\n</div> </div>\n\n\nContent Rules (STRICT)\n\nLanguage: French only\nProfessional business tone\nAllowed HTML tags: <p>, <br>, <ul>, <li>, <strong>\nNo additional variables\nNo raw text\nNo explanation\nFinal Notes\nHere is the current date/time: {{ $now }}"
        }
      },
      "id": "a0372eb0-5c20-42e1-a73d-bb6d00737fac",
      "name": "Email Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1904,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI(\"emailAddress\") }}",
        "subject": "={{ $fromAI(\"subject\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false,
          "senderName": "NAIOM"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -2224,
        768
      ],
      "id": "79c8d90b-0838-4d93-b083-4aba2a406a5a",
      "name": "Send Email",
      "webhookId": "e65fcd36-922a-4a32-b047-b47812ec508f",
      "credentials": {
        "gmailOAuth2": {
          "id": "iLw81ICcHsD7tPD2",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\",\"how many emails the user wants\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ $fromAI(\"sender\",\"who the emails are from\") }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1584,
        864
      ],
      "id": "a63d312b-d7eb-4a88-b81e-fc5bfb700636",
      "name": "Get Emails",
      "webhookId": "432348ae-e3ee-4794-83e9-4aa0459663b1",
      "credentials": {
        "gmailOAuth2": {
          "id": "iLw81ICcHsD7tPD2",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $fromAI(\"subject\") }}",
        "emailType": "html",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "sendTo": "={{ $fromAI(\"emailAddress\") }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1744,
        880
      ],
      "id": "b78185e0-4c8c-4bbf-9bc2-8a8c381290cb",
      "name": "Create Draft",
      "webhookId": "a792e875-70a9-4417-afe4-99aa751d373f",
      "credentials": {
        "gmailOAuth2": {
          "id": "iLw81ICcHsD7tPD2",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $fromAI(\"ID\",\"the message ID\") }}",
        "message": "={{ $fromAI(\"emailBody\") }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -2064,
        832
      ],
      "id": "4b321f75-6733-4153-880e-440dfe637586",
      "name": "Email Reply",
      "webhookId": "a092e061-705b-459b-bae0-018052ea3e2a",
      "credentials": {
        "gmailOAuth2": {
          "id": "iLw81ICcHsD7tPD2",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1456,
        800
      ],
      "id": "00da74e2-a1ee-4c6b-b095-2d55ab429799",
      "name": "Get Labels",
      "webhookId": "e947f463-3f1a-4654-80b6-54ed2dc1e555",
      "credentials": {
        "gmailOAuth2": {
          "id": "iLw81ICcHsD7tPD2",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $fromAI(\"ID\",\"the ID of the message\") }}",
        "labelIds": "={{ $fromAI(\"labelID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1904,
        864
      ],
      "id": "447698e4-5dde-4536-bec2-fa59e4647198",
      "name": "Label Emails",
      "webhookId": "3d55e37f-3989-4c2b-acb6-d4ac3c33623c",
      "credentials": {
        "gmailOAuth2": {
          "id": "iLw81ICcHsD7tPD2",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsUnread",
        "messageId": "={{ $fromAI(\"messageID\") }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -1328,
        752
      ],
      "id": "8db55c0f-a3f7-4852-88ac-51a9cc0a7c86",
      "name": "Mark Unread",
      "webhookId": "b2b6a521-6668-4cfa-9b50-5d47f6aeea8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "iLw81ICcHsD7tPD2",
          "name": "Gmail account 10"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2144,
        400
      ],
      "id": "ed8ae80a-e8e8-4ea0-a768-87b1cf10b585",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2464,
        720
      ],
      "id": "ed7f7233-4da4-4d75-ac66-93dc904665d2",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IpLYtUzjgqJ6XBwn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search for infos",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "id": "7d67f2bf-2cae-425d-9fae-4ee6776e8614",
      "name": "Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        -1136,
        784
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "971ecaa1-34e4-4ea6-a096-7fe6bd90562f",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -752,
        1056
      ],
      "credentials": {
        "openAiApi": {
          "id": "IpLYtUzjgqJ6XBwn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -768,
        800
      ],
      "id": "07be1f0e-4827-4d91-a8a7-703d7672e7ea",
      "name": "Upload your file here",
      "webhookId": "893de03c-419a-4662-ba19-1a4eb7eefc8f"
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -320,
        976
      ],
      "id": "d971c85d-98ba-4ef6-a1a9-4efcc0760bdd",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        -576,
        800
      ],
      "id": "81fdd2f7-2704-46e1-88ab-23db26a93c00",
      "name": "Insert Data to Store"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://jbxinyegvwxiupgvursw.supabase.co/functions/v1/webhook-emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "naiom"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"body\": $json.response, \"to\": \"destinataire@email.com\", \"subject\": \"Message de Sophia\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -976,
        320
      ],
      "id": "e4668a14-92b7-4bc6-a195-ced41655d661",
      "name": "Update Lovable"
    },
    {
      "parameters": {
        "content": "## AGENT IA EMAIL RAG\n",
        "height": 1136,
        "width": 2672,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2624,
        176
      ],
      "typeVersion": 1,
      "id": "16a5de33-272c-4b69-a144-1594902d8218",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "{\"to\":\"zeyneb.madi2626@gmail.com\",\"subject\":\"Annonce: AI First Lab a commencé\",\"body\":\"Bonjour Zeyneb,\\n\\nJe voulais vous informer que AI First Lab a commencé.\\n\\nCordialement,\\n[Votre Nom]\"}"
        }
      }
    ]
  },
  "connections": {
    "Email Agent": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Try Again",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label Emails": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mark Unread": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Insert Data to Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Success": {
      "main": [
        [
          {
            "node": "Update Lovable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdeabe6b-85d5-4cbf-a7eb-a8954fdfabb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4bb8a0128764037e6be8d35659320cc5a4c40b23554514bbdd7147b718521d11"
  },
  "id": "V53Zbm0BiM2o2KJ6",
  "tags": []
}